.tabbrowser-tab:not([pinned=true])[fadein] {
  min-width: 36px !important;
}

.tabbrowser-tab:not([pinned=true])[selected=true] .tab-close-button {
  margin-left: -2px !important;
  margin-right: 1px !important;
}

.tabbrowser-tab:not([pinned=true]) {
  border-left-width: 2px !important;
  border-right-width: 2px !important;
}